<ion-header>
  <ion-toolbar >
    <!-- <ion-button style="float:left; font-size:15px; color: white;" fill="clear" (click)="clear()"> CLEAR</ion-button>
    <ion-title style ="color: white;"> Filter </ion-title>
    <ion-icon style ="float: right; font-size: 20px; color: white; padding-right: 25px; padding-bottom: 13px;" name="close" (click)="close()"></ion-icon> -->
    <ion-buttons slot="start">
      <ion-button (click)="clear()">CLEAR</ion-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="padding: 10px;" class="ios-input">
    <ion-col size="4">
      <ion-label style="zoom: 0.8;">Min Price</ion-label>
      <ion-input type="number" placeholder="{{MIN_PRICE_DEFAULT_VALUE}}"
        style="border: 1px solid #e8e4e4; margin: 5px;"></ion-input>
    </ion-col>
    <ion-col size="4">
    </ion-col>
    <ion-col size="4">
      <ion-label style="zoom: 0.8;">Max Price</ion-label>
      <ion-input type="number" placeholder="{{MAX_PRICE_DEFAULT_VALUE}}"
       style="border: 1px solid #e8e4e4; margin: 5px;"></ion-input>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-range min="{{MIN_PRICE_DEFAULT_VALUE}}" max="{{MAX_PRICE_DEFAULT_VALUE}}" step="2" dual-knobs="true" pin="true"></ion-range>
    <!-- (ionChange)="priceRangeChange($event)" -->
  </ion-item>
</ion-content>
