.parahead {
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

.paradetail {
    font-size: 14px;
    margin: 3px 0;
    color: #515151;
}

.paradate {
    font-size: 12px;
    display: block;
    padding-top: 5px;
    color: #919191;
}