<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/Mens/mens7.jpg">
        </ion-thumbnail>
        <div>
          <p class="parahead">Product Delivered</p>
          <p class="paradetail">Your package has been delivered. Thanks for shopping! </p>
          <small class="paradate">Sat Mar 07 2020</small>
        </div>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none"> 
        <ion-thumbnail slot="start">
          <img src="assets/Mens/mens8.jpg">
        </ion-thumbnail>
        <div>
          <p class="parahead">Product Shipped</p>
          <p class="paradetail">Your package has been Shipped</p>
          <small class="paradate">Fri Mar 06 2020</small>
        </div>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/Mens/mens9.jpg">
        </ion-thumbnail>
        <div>
          <p class="parahead">Product Packed</p>
          <p class="paradetail">Your package has been Packed</p>
          <small class="paradate">Thu Mar 05 2020</small>
        </div>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/Mens/mens10.jpg">
        </ion-thumbnail>
        <div>
          <p class="parahead">Product Delivered</p>
          <p class="paradetail">Your package has been delivered. Thanks for shopping! </p>
          <small class="paradate">Tue Feb 18 2020</small>
        </div>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-content>
