<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Mens Fashion
      <!-- by Categorywise -->
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="What are you looking for?"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="options" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="list-box" color="dark"></ion-icon>
      </ion-button>
      <ion-button (click)="openPriceFilterModal()">
        <ion-icon slot="icon-only" name="funnel" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="productDetails()">
          <img src="assets/Mens/mens8.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 600</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens3.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 950</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens11.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 1600</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens14.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 1950</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens15.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 400</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens16.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 250</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens17.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 1250</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens18.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 4950</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens11.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 300</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="assets/Mens/mens8.jpg" style="min-height: 310px;">
          <div style="position: absolute;left: 115px;top: 15px;">
            <ion-icon size="large" name="heart-empty"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>T-Shirt With Logo</ion-card-subtitle>
            <ion-card-title>Rs. 750</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
