<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
        T-Shirt With Logo
      <!-- by Categorywise -->
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider pager="true">
    <ion-slide>
      <img src="assets/Mdetails/Mdetails1.jpg" style="height: 480px;">
    </ion-slide>
    <ion-slide>
      <img src="assets/Mdetails/Mdetails2.jpg" style="height: 480px;">
    </ion-slide>
    <ion-slide>
      <img src="assets/Mdetails/Mdetails3.jpg" style="height: 480px;">
    </ion-slide>
    <ion-slide>
      <img src="assets/Mdetails/Mdetails4.jpg" style="height: 480px;">
    </ion-slide>
  </ion-slides>
  <ion-item lines="none">
    <ion-label>
      Billion
    </ion-label>
  </ion-item>
    <ion-label style="margin-left: 15px;">
      Full Sleeve Ombre Men Sweatshirt
    </ion-label>
  <ion-item lines="none">
    <ion-button fill="clear" size="small" color="success">
      Best price
    </ion-button>
  </ion-item>
  <ion-title>
    <ion-label class="fa fa-rupee"> 600
      <del>1550</del>
    </ion-label>
    <ion-label color="success" size="small">  62% off</ion-label>
  </ion-title>
  <ion-item>
    <ion-chip style="--background:green;">
      <ion-label color="light">5</ion-label>
      <ion-icon name="star" color="light"></ion-icon>
    </ion-chip>
    <ion-label>
      10 ratings
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Colors :-</ion-card-subtitle>
    </ion-card-header>
    <div style="display: flex;overflow: auto;">
      <ion-avatar slot="start" style="height: 72px;width: 80px;">
        <img src="assets/icon/Tshirts-icon.jpeg" style="max-width: 100px; width: auto;padding: 5px;">
      </ion-avatar>
      <ion-avatar slot="start" style="height:72px;width: 80px;">
        <img src="assets/icon/Shirts-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
      </ion-avatar>
      <ion-avatar slot="start" style="height: 72px;width: 80px;">
        <img src="assets/icon/Jeans-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
      </ion-avatar>
      <ion-avatar slot="start" style="height: 72px;width: 80px;">
        <img src="assets/icon/Watches-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
      </ion-avatar>
      <ion-avatar slot="start" style="height: 72px;width: 80px;">
        <img src="assets/icon/Jackets-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
      </ion-avatar>
      <ion-avatar slot="start" style="height:72px;width: 80px;">
          <img src="assets/icon/Shirts-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
      </ion-avatar>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Size :-</ion-card-subtitle>
    </ion-card-header>
    <div style="display: flex;overflow: auto;">
      <div class="box-size">
        <span class="box-center">
          S
        </span>
      </div>
      <div class="box-size">
        <span class="box-center">
          M
        </span>
      </div>
      <div class="box-size">
        <span class="box-center">
          L
        </span>
      </div>
      <div class="box-size">
        <span class="box-center">
          XL
        </span>
      </div>
      <div class="box-size">
        <span class="box-center">
          2XL
        </span>
      </div>
      <div class="box-size">
        <span class="box-center">
          3XL
        </span>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Product Details</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>Color</div>
        </ion-col>
        <ion-col>
          <div>Black</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Fabric</div>
        </ion-col>
        <ion-col>
          <div>Cotton Blend</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Pattern</div>
        </ion-col>
        <ion-col>
          <div>Solid</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Neck</div>
        </ion-col>
        <ion-col>
          <div>Hooded neck</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Sleeve</div>
        </ion-col>
        <ion-col>
          <div>Full Sleeve</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>Ratings & Reviews</ion-label>
        <ion-button fill="outline" slot="end" color="dark" (click)="RateProduct()">Rate Product</ion-button>
      </ion-item>
    </ion-card-header>
    <ion-item>
      <ion-chip style="--background:green;">
        <ion-label color="light">5</ion-label>
        <ion-icon name="star" color="light"></ion-icon>
      </ion-chip>
      <ion-label>
        50 ratings and 20 reviews
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-chip style="--background:green;height: 22px;width: 50px; margin-bottom: 60px;" size="small">
        <ion-label color="light">5</ion-label>
        <ion-icon name="star" color="light" size="small"></ion-icon>
      </ion-chip>
      <ion-label style="margin-inline-start: 10px; margin-top: 10px;">
        <!-- Worth the money
      </ion-label>
      <ion-label class="ion-text-wrap">
        Good Product as well as the design. -->
      <h6>Worth the money</h6>
      <p>Good Product as well as the design.</p>
      <ion-thumbnail>
        <img src="assets/Mens/mens8.jpg">
      </ion-thumbnail>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-chip style="--background:green;height: 22px;width: 50px; margin-bottom: 60px;" size="small">
        <ion-label color="light">5</ion-label>
        <ion-icon name="star" color="light" size="small"></ion-icon>
      </ion-chip>
      <ion-label style="margin-inline-start: 10px; margin-top: 10px;">
        <!-- Worth the money
      </ion-label>
      <ion-label class="ion-text-wrap">
        Good Product as well as the design. -->
      <h6>Great Product</h6>
      <p>Good Product as well as the design.</p>
      <ion-thumbnail>
        <img src="assets/Mens/mens8.jpg">
      </ion-thumbnail>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-chip style="--background:green;height: 22px;width: 50px; margin-bottom: 60px;" size="small">
        <ion-label color="light">5</ion-label>
        <ion-icon name="star" color="light" size="small"></ion-icon>
      </ion-chip>
      <ion-label style="margin-inline-start: 10px; margin-top: 10px;">
        <!-- Worth the money
      </ion-label>
      <ion-label class="ion-text-wrap">
        Good Product as well as the design. -->
      <h6>Awesome product</h6>
      <p>Good Product as well as the design.</p>
      <ion-thumbnail>
        <img src="assets/Mens/mens8.jpg">
      </ion-thumbnail>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-chip style="--background:green;height: 22px;width: 50px; margin-bottom: 60px;" size="small">
        <ion-label color="light">5</ion-label>
        <ion-icon name="star" color="light" size="small"></ion-icon>
      </ion-chip>
      <ion-label style="margin-inline-start: 10px; margin-top: 10px;">
      <h6>Worth the money</h6>
      <p>Good Product as well as the design.</p>
      <ion-thumbnail>
        <img src="assets/Mens/mens8.jpg">
      </ion-thumbnail>
      </ion-label>
    </ion-item>

    <ion-item (click)="moreReview()">
      <ion-label style="margin-inline-start: 10px; margin-top: 10px;">
        <ion-text>All 35 reviews</ion-text>
      </ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>Similar Products</ion-label>
        <ion-button fill="outline" slot="end" color="dark">View All</ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;overflow: auto;height: 250px;">
        <ion-thumbnail slot="start" style="height: 185px;width: 65px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa; margin-right: 80px;">
          <img src="assets/Mens/mens3.jpg" style="min-width: 130px;"> 
          <ion-text>Roadster</ion-text>
          <!-- <h6>Men Olive Green Solid Hooded Sweatshirt</h6> -->
          <ion-text> Rs. 799</ion-text>
        </ion-thumbnail>
        <ion-thumbnail slot="start" style="height: 185px;width: 65px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa; margin-right: 80px;">
          <img src="assets/Mens/mens8.jpg" style="min-width: 130px;">
          <ion-text>Roadster</ion-text>
          <!-- <h6>Men Olive Green Solid Hooded Sweatshirt</h6> -->
          <ion-text> Rs. 899</ion-text> 
        </ion-thumbnail>
        <ion-thumbnail slot="start" style="height: 185px;width: 65px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa; margin-right: 80px;">
          <img src="assets/Mens/mens11.jpg" style="min-width: 130px;">
          <ion-text>Roadster</ion-text>
         <!-- <h6>Men Olive Green Solid Hooded Sweatshirt</h6> -->
          <ion-text> Rs. 499</ion-text> 
        </ion-thumbnail>
        <ion-thumbnail slot="start" style="height: 185px;width: 65px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa; margin-right: 80px;">
          <img src="assets/Mens/mens14.jpg" style="min-width: 130px;">
          <ion-text>Roadster</ion-text>
          <!-- <h6>Men Olive Green Solid Hooded Sweatshirt</h6> -->
          <ion-text> Rs. 799</ion-text> 
        </ion-thumbnail>
        <ion-thumbnail slot="start" style="height: 185px;width: 65px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa; margin-right: 80px;">
          <img src="assets/Mens/mens15.jpg" style="min-width: 130px;">
          <ion-text>Roadster</ion-text>
          <!-- <h6>Men Olive Green Solid Hooded Sweatshirt</h6> -->
          <ion-text> Rs. 999</ion-text> 
        </ion-thumbnail>
        <ion-thumbnail slot="start" style="height: 185px;width: 65px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa; margin-right: 80px;">
          <img src="assets/Mens/mens16.jpg" style="min-width: 130px;">
          <ion-text>Roadster</ion-text>
          <!-- <h6>Men Olive Green Solid Hooded Sweatshirt</h6> -->
          <ion-text> Rs. 899</ion-text> 
        </ion-thumbnail>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="light" size="small" (click)="AddCartItem()">
          ADD TO CART
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" size="small" style="--background: #e40046;" (click)="checkOutOrder()">
          BUY NOW
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


