<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      LifeStyle
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-badge class="badgecss" color="success">4</ion-badge>
        <ion-icon slot="icon-only" name="notifications" color="dark"></ion-icon>
      </ion-button>
      <ion-button (click)="showProducts()">
        <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons fill="clear" slot="end" (click)="hideNshowSearchBarFun(false)">
			<ion-button fill="outline" color="white">
				<ion-icon name="ios-close-circle"></ion-icon>
			</ion-button>
		</ion-buttons> --> 
    <!-- <ion-searchbar placeholder="Search product"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider pager="true" [options]="sliderOpts">
    <ion-slide>
      <a href='' style="width: 100% !important;"><img src="assets/imgs/slider1.jpg" style="min-height: 200px;height: 200px;"></a>
    </ion-slide>
    <ion-slide>
      <a href='' style="width: 100% !important;"><img src="assets/imgs/slider2.jpg" style="min-height: 200px;height: 200px;"></a>
    </ion-slide>
    <ion-slide>
      <a href='' style="width: 100% !important;"><img src="assets/imgs/slider3.jpg" style="min-height: 200px;height: 200px;"></a>
    </ion-slide>
    <ion-slide>
      <a href='' style="width: 100% !important;"><img src="assets/imgs/slider4.jpg" style="min-height: 200px;height: 200px;"></a>
    </ion-slide>
  </ion-slides>

  <div style="display: flex;overflow: auto;">
    <ion-thumbnail slot="start" style="height: 150px;width: 345px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
      <img src="assets/Mens/mens1.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-thumbnail>
    <ion-thumbnail slot="start" style="height: 150px;width: 345px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
      <img src="assets/Mens/mens2.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-thumbnail>
    <ion-thumbnail slot="start" style="height: 150px;width: 345px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
      <img src="assets/Mens/mens3.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-thumbnail>
    <ion-thumbnail slot="start" style="height: 150px;width: 345px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
      <img src="assets/Mens/mens4.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-thumbnail>
    <ion-thumbnail slot="start" style="height: 150px;width: 345px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
      <img src="assets/Mens/mens5.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-thumbnail>
    <ion-thumbnail slot="start" style="height: 150px;width: 345px;margin: 5px;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
      <img src="assets/Mens/mens6.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-thumbnail>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>FASHION</ion-label>
        <ion-button fill="outline" slot="end" color="dark" (click)="showProducts()">View All</ion-button>
      </ion-item>
    </ion-card-header>

    <span style="display:flex;">
      <div style='width:50%;'>
        <span style="padding: 40px 10px;display: block;min-height: 50%;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
          <ion-thumbnail slot="start" style="height: 150px; max-width: 100px; width: 100%; text-align: center; margin: 0 auto;">
            <img src="assets/Mens/mens7.jpg" width="100%">
          </ion-thumbnail>
        </span>
        <span  style="padding: 40px 10px;display: block;min-height: 50%;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
          <ion-thumbnail slot="start" style="height: 150px; max-width: 100px; width: 100%; text-align: center; margin: 0 auto;">
            <img src="assets/Mens/mens8.jpg" width="100%">
          </ion-thumbnail>
        </span>
      </div>
      <div style="width: 50%;">
        <span style="padding: 40px 10px;display: block;min-height: 50%;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
          <ion-thumbnail slot="start" style="height: 150px; max-width: 100px; width: 100%; text-align: center; margin: 0 auto;">
            <img src="assets/Mens/mens9.jpg" width="100%">
          </ion-thumbnail>
        </span>
        <span style="padding: 40px 10px;display: block;min-height: 50%;box-shadow: 0px 0px 2.5px 0px #b0aaaa;">
          <ion-thumbnail slot="start" style="height: 150px; max-width: 100px; width: 100%; text-align: center; margin: 0 auto;">
            <img src="assets/Mens/mens10.jpg" width="100%">
          </ion-thumbnail>
        </span>
      </div>
    </span>
  </ion-card>

  <ion-item lines="none">
    <ion-label>
      Category
    </ion-label>
  </ion-item>

  <div style="display: flex;overflow: auto;">
    <ion-avatar slot="start" style="height: 90px;width: 80px;">
      <img src="assets/icon/Tshirts-icon.jpeg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-avatar>
    <ion-avatar slot="start" style="height: 90px;width: 80px;">
      <img src="assets/icon/Shirts-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-avatar>
    <ion-avatar slot="start" style="height: 90px;width: 80px;">
      <img src="assets/icon/Jeans-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-avatar>
    <ion-avatar slot="start" style="height: 90px;width: 80px;">
      <img src="assets/icon/Watches-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-avatar>
    <ion-avatar slot="start" style="height: 90px;width: 80px;">
      <img src="assets/icon/Jackets-icon.jpg" style="max-width: 100px; width: auto;padding: 5px;">
    </ion-avatar>
  </div>

</ion-content>
