<ion-app>
    <ion-menu contentId="content1" side="start">
      <ion-button (click) ="closeEnd()" color="light" fill="clear" style="margin-left: 320px;margin-top: 10px;">
          <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
      </ion-button>
      <ion-item lines ="none" style="margin-left: 30%;">
        <ion-thumbnail slot="start" style="width: 45%;">
          <img src="assets/icon/Woo-Commerce.png">
        </ion-thumbnail>
      </ion-item>
      <ion-content>
        <!-- <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item lines="none" [routerLink]="pages.url" routerDirection="forward">
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                 {{pages.title}} 
          </ion-item>
        </ion-menu-toggle>
        </ion-list> -->
        <span>
          <span>
            <ion-item-divider lines="none">
              <ion-label>
                Fashion
                <ion-icon slot="end" name="md-arrow-dropdown" color="dark"></ion-icon>
              </ion-label>
            </ion-item-divider>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Mens Fashion
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Women's Fashion
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Jewellary
                </ion-label>
              </ion-item>
            </span>
            <ion-item-divider lines="none">
              <ion-label>
                Mobiles & Electronics
                <ion-icon slot="end" name="md-arrow-dropdown" color="dark"></ion-icon>
              </ion-label>
            </ion-item-divider>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Mobile Phones
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Mobiles Accessories
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Laptops & Computers
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Cases & Covers
                </ion-label>
              </ion-item>
            </span>
            <ion-item-divider lines="none">
              <ion-label>
                Home & Living
                <ion-icon slot="end" name="md-arrow-dropdown" color="dark"></ion-icon>
              </ion-label>
            </ion-item-divider>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Kitchenware
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Home Furnishing
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label color="dark">
                  Furniture
                </ion-label>
              </ion-item>
            </span>
            <span>
              <ion-item color="white" lines="none">
                <ion-label style="color: #a52a2a;" (click)="openHome()">
                  Home  
                </ion-label>
              </ion-item>
            </span>
            <span *ngIf="!(authService.user | async)">
              <ion-item color="white" lines="none">
                <ion-label style="color: #a52a2a;" (click)="loginSignUp()">
                  Login/Sign-Up  
                </ion-label>
              </ion-item>
            </span>
            <span *ngIf="authService.user | async">
              <ion-item color="white" lines="none">
                <ion-label style="color: #a52a2a;" (click)="logOut()">
                  Logout  
                </ion-label>
              </ion-item>
            </span>
          </span>

        </span>
      </ion-content>
      <ion-footer style="background: #f1f0f0;">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <div style="margin: 5px;">
              <ion-icon name="logo-facebook" size="large" color="primary"></ion-icon>
            </div>
            <div style="margin: 5px;">
              <ion-icon name="logo-twitter" size="large" color="secondary"></ion-icon>
            </div>
            <div style="margin: 5px;">
              <ion-icon name="logo-instagram" size="large" color="danger"></ion-icon>
            </div>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row style="margin-left: 15px;">
            <ion-col>
              <div>Share App</div>
            </ion-col>
            <ion-col>
              <div>Feedback</div>
            </ion-col>
            <ion-col>
              <div>Rate App</div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-left: 15px;">
            <ion-col>
              <div>Contact Us</div>
            </ion-col>
            <ion-col>
              <div>Terms</div>
            </ion-col>
            <ion-col>
              <div>About Us</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>