/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* All Pages Css */
.new-background-color {
    --background: #e40046;
    color: #fff;
  }

.box-size {
  width: 300px;
  height: 30px;
  border: 1px solid #d7d7e2;
  text-align: center;
  margin: 3px 2px 6px 5px;
}

.box-center {
  display: inline-block;
  margin: 5px 0px 0 0;
}

.remove-line-item {
  border-bottom   : 0px !important;
}

.my-custom-popover .popover-content {
	width: 168px !important;
}
.popover-content {
  top: 100px!important;
  right: 50px!important;
  width: 110px!important;
}

.aligncenter {
  width: 100%;
  text-align: center;

}

.box-size-order {
  width: 30px;
  height: 30px;
  border: 1px solid #d7d7e2;
  text-align: center;
  margin: 3px 2px 6px 5px;
}

.padd {
  padding: 15% 10px;
}

.badgecss {
  position: absolute;
  top: 2px;
  left: 16px;
  border-radius: 50%;
  width: 24px;
  height: 18px;
}
