<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="new-background-color" *ngIf="authService.user | async">
    <ion-row>
      <ion-col size="2">
        <div id="container" style="margin-right: 15px;" >
          <div id="name" style="padding: 9px 0px;">    
            <span>{{getNameFirstWord(localStorage.name)}}</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="8">
        <span>{{localStorage.name}}</span> <br/>
        <span>{{localStorage.email}}</span>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-button fill="outline" color="light" size="small" >Edit</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines ="none" style="margin-top: 60px;" *ngIf="!(authService.user | async)">
    <ion-thumbnail slot="start" style="width: 100%; margin: 20px auto; text-align: center;">
      <img src="assets/icon/Woo-Commerce.png" style="width: 25%;">
    </ion-thumbnail>
  </ion-item>

  <ion-grid *ngIf="!(authService.user | async)">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="medium" size="small" (click)="loginSignUp()">
          LOGIN
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="medium" size="small" (click)="openCreateAccount()">
          SIGN UP
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="authService.user | async">
    <ion-item (click)="openHome()">
      <ion-icon name="home" color="primary" slot="start"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="cube" color="secondary" slot="start"></ion-icon>
      <ion-label>My Orders</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" color="success" slot="start"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="heart" color="danger" slot="start"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-item>
    <ion-item (click)="openMyAddress()">
      <ion-icon name="pin" color="success" slot="start"></ion-icon>
      <ion-label>My Address</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="document" color="secondary" slot="start"></ion-icon>
      <ion-label>Terms of Use</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="document" color="dark" slot="start"></ion-icon>
      <ion-label>Privacy policiy</ion-label>
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon name="log-out" color="danger" slot="start"></ion-icon>
      <ion-label>LogOut</ion-label>
    </ion-item>
  </ion-list>

</ion-content>