<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Order Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>Deliver to</ion-label>
        <ion-button fill="outline" slot="end" color="primary">Change Address</ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3>Keshav Godani</h3>
          <h5>725 Jhabua tower Rnt Marg</h5>
          <h5>Near Central Mall</h5>
          <h5>Indore, (M.P.) 452001</h5>
          <h5>725 Jhabua tower Rnt Marg</h5>
          <h5>Mobile : 8888888888</h5>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/Mens/mens3.jpg">
        </ion-thumbnail>
        <ion-label>
          <h4>Full Sleeve Ombre Men Sweatshirt</h4>
          <h3>Billion</h3>
          <h4>Size : M</h4>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <div style='display:flex;'>
          <ion-button fill="clear">
            <ion-icon color="dark" slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
          <span class="input-qty">
            <ion-input type="tel"></ion-input>
          </span>
          <ion-button fill="clear">
            <ion-icon color="dark" slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </div>
        <ion-title slot="end" class="ion-no-margin">
          <ion-label> 
            <h3>Rs. 600</h3>
            <h4>Including Delivery Charges</h4>
          </ion-label>
        </ion-title>
      </ion-item>
    </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-label style="margin-left: 13px;">Total Amount </ion-label>
        <h2 style="margin-left: 15px;font-size: larger;" class="fa fa-rupee"> 600 </h2>
      </ion-col>
      <ion-col>
        <ion-button expand="full" size="small" style="--background: #e40046;" (click)="checkOutOrder()">
          CHECKOUT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
